<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품목록</title>
</head>

<body>
  <div id="product-wrap">
    <h3>상품목록</h3>
    <hr>

    <table>
      <thead>
        <tr>
          <th>아이디</th>
          <th>상품명</th>
          <th>수량</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody>
        <!-- https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#link-urls -->
        <!-- th:each => thymeleaf의 반복문 형태 [tutorial 6] -->
        <tr th:each="product : ${list}">
          <td th:text="${product.productId}">1</td>
          <!-- th:href="@{~~}" => thymeleaf의 url 형태  [tutorial 4.4] -->
          <!-- ~{pid}의 값을 (pir=~~~)로 받겠다는 뜻 -->
          <!-- 다른 예) url이 ~~?name=gildong 로 끝나야할때 =>  ~~${product.productId}, name='gildong'-->
          <td><a href="/product/1" th:href="@{/products/{pid}(pid=${product.productId})}" th:text="${product.pname}">컴퓨터</a></td>
          <td th:text="${product.quantity}">10</td>
          <td th:text="${product.price}">1000000</td>
        </tr>
      </tbody>
    </table>
    <hr>

    <div><button id="addBtn">상품등록</button></div>  </div>

    <script>
      addBtn.addEventListener('click', e=>{
        location.href = '/products/add';
      });
    </script>

</body>
</html>