<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[관리자]회원등록</title>
</head>

<body>
  <h3>회원등록</h3>
  <hr>
  <form action="" method="post">
    <div><label for="">이메일</label><input type="email" th:name="email"></div>
    <div><label for="">비밀번호</label><input type="password" th:name="pw"></div>
    <div><label for="">별칭</label><input type="text" th:name="nickname"></div>
    <div>
      <button type="submit">등록</button>
      <button type="reset">취소</button>
    </div>
  </form>

  <script>

  </script>


</body>
</html>